@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-dark;
  background-color: $white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

button {
  font-family: $font-family;
  cursor: pointer;
  border: none;
  outline: none;
}

input,
select,
textarea {
  font-family: $font-family;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

// Utility classes
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
