@use '@/styles/variables' as *;

.header {
  width: 100%;
  padding: 0 $spacing-lg;
  background-color: $white;
  @media (max-width: $breakpoint-sm) {
    padding: $spacing-md;
  }
}

.headerContainer {
  max-width: 600px;
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: auto;

    @media (max-width: $breakpoint-sm) {
      height: 32px;
    }
  }
}

.headerAuth {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  font-size: $font-size-sm;

  @media (max-width: $breakpoint-xs) {
    font-size: $font-size-xs;
  }
}
// already sign in text 
.headerAuthText {
  color: $text-gray;
  font-size: $font-size-base;
  @media (max-width: $breakpoint-xs) {
    display: none;
  }
}
// sign in text
.headerAuthLink {
  color: $primary-color;
  font-weight: $font-weight-semibold;
  font-size: $font-size-base;

  transition: color 0.2s ease;

  &:hover {
    color: $primary-dark;
  }
}

